
<h1>Pedidos GG</h1>
<!--<p>This component demonstrates fetching Employee data from the server.</p>-->
<p *ngIf="!pedidoList"><em>Loading...</em></p>
<!--<p>
    <a [routerLink]="['/register-employee']">Create New</a>
</p>-->

<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" name="searchString" placeholder="Buscar por descripción.." [(ngModel)]="searchString">
        </div>
    </div>
</form>
<table class='table'>
    <thead>
        <tr>
            <th>Nro Pedido</th>
            <th>Descripcion Pedido</th>
            <!--<th>Codigo Vendedor</th>-->
            <!--<th>City</th>-->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ped of pedidoList | filter : 'DesPedido' : searchString; let i = index">
            <td>{{ ped.NroPedido }}</td>
            <td>{{ ped.DesPedido }}</td>
            <!--<td>{{ ped.CodVendedor }}</td>-->
            <!--<td>
                <a [routerLink]="['/employee/edit/', emp.id]">Edit</a> |
                <a [routerLink]="" (click)="delete(emp.id)">Delete</a>
            </td>-->
        </tr>
    </tbody>
</table>